{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <form action="/add_cash" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="add" placeholder="amount to add" type="number" min=1 required>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}