{% extends "layout.html" %}

{% block title %}
    change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
            <div class="form-group">
            <input class="form-control" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
         <div class="form-group">
            <input class="form-control" name="password_again" placeholder="Password(confirmation)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
