{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.symbol }}    </td>
                <td>{{ transaction.shares }}    </td>
                <td>{{ transaction.shares * transaction.price_per_share }}     </td>
                <td>{{ transaction.date }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}