{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Shares</th>
                <th>Price per share</th>
                 <th>TOTAL</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="3"></td>

            </tr>
        </tfoot>

        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.sum_shares }}</td>
                    <td>{{ quotes[stock.symbol]["price"] | usd }}</td>

                    <td>{{ (quotes[stock.symbol]["price"] * stock.sum_shares) | usd }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3">CASH BALANCE</td>
                <td>{{ total | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}